If you need an alternate test date because you are a Religious Observer (for religious reasons, <% -%>
cannot be tested on date of examination(s)), if you have a disability that requires special accommodations for you <% -%>
to participate in an examination, or if you require any other kind of special accommodations, you must email Monroe <% -%>
County Civil Service at <% if html %><a href="mailto:mcexams10@monroecounty.gov?subject=Special%20Accommodations">mcexams10@monroecounty.gov</a> <% else %>mcexams12@monroecounty.gov <% end -%>
by the application deadline. Within the email, please indicate your <% -%>
statement outlining the reason for your request, the exam number(s) and title(s), and attach supporting documentation. <% -%>
Additional questions, please contact our office at 585-753-1700.