<h1>Application # <%= @obj.id %></h1>
<p>Your exam / job application has been submitted. Thank you for using our online service. Once your application has been 
approved or rejected, or if we need additional information from you, we will contact you via postal mail. 
You may view your application at any time by logging into your account and viewing the &quot;My Applications&quot; page:</p>
<p><%= link_to 'My Exam / Job Applications', :controller => :applicants, :action => :index %></p>
<p>&nbsp;</p>