<h1>Application Complete</h1>
<%= render :partial => 'nav' %>
<%= render :partial => 'subnav_applicant' %>
<p>Your exam application has been submitted. Thank you for using our online service. You may check the status of your application at any time by logging into your account and viewing the &quot;My Applications&quot; page:</p>
<p><%= link_to 'My Exam / Job Applications', :action => :applications %></p>