<div class="tabs2">
	<%= tab 'View', :action => :view, :id => @obj.id %>
	<%= tab 'Edit', :action => :edit, :id => @obj.id %>
	<%= tab 'Delete', :action => :delete, :id => @obj.id %>
	<div class="clear"></div>
</div>