<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<!-- HRAPPLY -->
	<head><meta property="og:title" content="Monroe County Civil Service" />
		<meta name="description" content="MonroeCounty.gov is the official site of Monroe County, New York providing online services and information for residents, businesses, municipalities and visitors." />
		<meta property="og:image" content="https://www2.monroecounty.gov/seal200x200.jpg" />
		<title>Monroe County HR</title>
		<%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag 'mc-content-2col', 'mc-global.css?v2', 'datagrid2' %>
		<%= stylesheet_link_tag 'mc-print.css', :media => 'print' %>
		<%= stylesheet_link_tag 'hr.css', :media => 'all' %>
		<%= calendar_date_select_includes %>
		<%= yield :head %>
		<link rel="stylesheet" rev="stylesheet" href="/c/mc-small.css" title="stylesheet 1" type="text/css" media="screen" charset="utf-8" />
		<link rel="alternate stylesheet" rev="stylesheet" href="/c/mc-medium.css" title="stylesheet 2" type="text/css" media="screen" charset="utf-8" />
		<link rel="alternate stylesheet" rev="stylesheet" href="/c/mc-large.css" title="stylesheet 3" type="text/css" media="screen" charset="utf-8" />
		<script type="text/javascript" src="/js/mc.js"></script>
<% if false %>
	<script src="https://www.google-analytics.com/urchin.js" type="text/javascript"></script>
	<script type="text/javascript">
	_uacct = "UA-93385-4";
	urchinTracker();
	</script>		
<% end %>
<% if false %>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1549656988650169',
      xfbml      : true,
      version    : 'v2.12'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<% end %>
	</head>
	<body id="body">
		<% if RAILS_ENV == 'development' %><div id="dev-bar">DEVELOPMENT SITE</div><% end %>
		<div id="wrap">
			<div id="login">
				<p>
					<% if @current_user %>
						You are logged in as <%= h @current_user.username %>
						<%= link_to '(logout)', :controller => :account, :action => :logout %>
					<% else %>
						<%= link_to 'login', :controller => :account, :action => :index %>
					<% end %>	
				</p>
			</div>
			<div id="header">
			</div>
			<div id="navbar">
				<ul id="nav">
					<li id="home"><a href="http://www.monroecounty.gov/home-index.php" accesskey="i" title="My Monroe portal">My Monroe</a></li>
					<li id="res"><a href="http://www.monroecounty.gov/resident-index.php" accesskey="r" title="Resident portal">Resident</a></li>
					<li id="vis"><a href="http://www.monroecounty.gov/visitor-index.php" accesskey="v" title="Visitor portal">Visitor</a></li>
					<li id="bus"><a href="http://www.monroecounty.gov/business-index.php" accesskey="b" title="Business portal">Business</a></li>
					<li id="gov"><a href="http://www.monroecounty.gov/government-index.php" accesskey="g" title="Government portal">Government</a></li>
					<li id="emp"><a href="http://www.monroecounty.gov/employment-index.php" accesskey="e" title="Employment portal">Employement</a></li>
					<li id="dept"><a href="http://www.monroecounty.gov/department-index.php" accesskey="d" title="All Departments">Departments</a></li>
					<li id="done"><a href="http://www.monroecounty.gov/online" accesskey="o" title="Get It Done Online">Get It Done Online!</a></li>
				</ul>				
				<div id="urhere">
					<p></p>
				</div>
			</div>
			<div id="wrap-inner">
				<div id="main-body" class="clearfix">
					<div id="content-2col">					
						<div class="text">
							<% if session[:noactivation] and @current_user %>
								<p style="color: #800; font-weight: bold;">Please remember to <%= link_to 'logout', :controller => :account, :action => :logout %> when you are done to prevent other users from accessing your personal information.</p>
							<% end %>
							<% if flash[:notice] %>
								<p class="notice"><%= flash[:notice] %></p>
							<% end %>
							<% if flash[:error] %>
								<%= render :partial => 'partial/errors', :locals => {:errors => [flash[:error]]} %>
							<% end %>
							<%= yield %>
							<p><strong><em>If you are experiencing any problems with this site please email us at <a href="mailto:civilservice@monroecounty.gov">civilservice@monroecounty.gov</a>. If have any other questions please contact our office at 753-1700.</em></strong></p>
						</div>
						<div id="footer">
							<p class="btmlinks">
								<a href="http://www.monroecounty.gov/default-about.php" title="Go to About MonroeCounty.gov page">About MonroeCounty.gov</a> &middot; 
								<a href="http://www.monroecounty.gov/default-accessibilitystandards.php" title="Go to Accessibility and Standards page">Accessibility and Web Standards</a> &middot; 
								<a href="http://www.monroecounty.gov/default-disclaimer.php" title="Go to Web Disclaimer and Privacy Policy page">Web Disclaimer and Privacy Policy</a></p>
							<p class="copyright">Official Site of the Monroe County, New York. Copyright &copy; <%= Time.now.to_date.year %> Monroe County. All Rights Reserved.</p>					
						</div>
						<div id="leftcol">
							<div id="switcher">
								<ul id="switch">
									<li id="normalstyle"><a id="style1" href="javascript:setActiveStyleSheet('stylesheet 1')" title="Normal text size">Normal Text Stylesheet</a></li>
									<li id="largestyle"><a id="style2" href="javascript:setActiveStyleSheet('stylesheet 2')" title="Larger text size">Large Text Stylesheet</a></li>
									<li id="xlargestyle"><a id="style3" href="javascript:setActiveStyleSheet('stylesheet 3')" title="Extra Large text size">Extra Large Text Stylesheet</a></li>
									<li id="emailpage"><a href="javascript:" onclick="return mailpage();" title="eMail this page">e-Mail Page</a></li>							
									<li id="printpage"><a href="javascript:print();" title="Print this page">Print Page</a></li>
								</ul>
							</div>
							<img width="150" height="33" border="0" alt="Picture of American flag." src="/i-p/col-flag.jpg"/>
							<p><a href="#" id="toggle" onclick="$('deptlinks').toggle();" class="plus" title="Hide or show Department Links (below).">Quick Links</a></p>		
							<div id="deptlinks" style="display: none;">
								<a href="http://www.monroecounty.gov/safety-ecd.php" title="Emergency Communications Department 9-1-1">9-1-1 ECD </a>
								<a href="http://www.monroecounty.gov/aging-index.php" title="Office for the Aging page">Aging and Adult Services</a>
								<a href="http://www.monroecounty.gov/airport-index.php" title="Airport (GRIA) and Aviation Department page">Airport (GRIA)</a>
							
								<a href="http://www.monroecounty.gov/elections-index.php" title="Board of Elections page">Board of Elections</a><a href="http://www.monroecounty.gov/budget-index.php" title="Office of Management and Budget page">Budget</a>
								<a href="http://www.monroecounty.gov/communications-index.php" title="Department of Communications page">Communications</a>
								<a href="http://www.monroecounty.gov/clerk-index.php" title="County Clerk page">County Clerk</a>
								<a href="http://www.monroecounty.gov/executive-index.php" title="County Executive page">County Executive</a>
								<a href="http://www.monroecounty.gov/da-index.php" title="Distrcit Attorney page">District Attorney</a>
								<a href="http://www.monroecounty.gov/economic2-index.php" title="Economic Development page">Economic Development</a>
							
								<a href="http://www.monroecounty.gov/safety-oep.php" title="Emergency Preparedness page">Emergency Preparedness</a>
								<a href="http://www.monroecounty.gov/des-index.php" title="Department of Environmental Services page">Environmental Services (DES) </a>
								<a href="http://www.monroecounty.gov/fbci-index.php" title="Faith Based and Community Initiatives page">Faith Based and Community Initiatives</a>
								<a href="http://www.monroecounty.gov/finance-index.php" title="Finance page">Finance</a><a href="http://www.monroecounty.gov/gis-index.php" title="Geographic Information System (GIS)">Geographic Information System (GIS)</a>
								
								<a href="http://www.monroecounty.gov/history-index.php" title="History page">History</a>
								<a href="http://www.monroecounty.gov/hr-index.php" title="Department of Human Resources page">Human Resources</a>
							
								<a href="http://www.monroecounty.gov/hs-index.php" title="Department of Human Services page">Human Services</a>
								<a href="http://www.monroecounty.gov/is-index.php" title="Information Services page">Information Services</a>
								<a href="http://www.monroecounty.gov/law-index.php" title="Law Department page">Law</a>
								<a href="http://www.monroecounty.gov/legislature-index.php" title="County Legislature page">Legislature</a>
								<a href="http://www.monroecounty.gov/libra-index.php" title="Monroe County Library System page">Library</a>
								<a href="http://www.monroecounty.gov/mh-index.php" title="Office of Mental Health page">Mental Health</a>
							
								<a href="http://www.monroecounty.gov/mcc-index.php" title="Monroe Community College page">Monroe Community College (MCC)</a>
								<a href="http://www.monroecounty.gov/mch-index.php" title="Monroe Community Hospital page">Monroe Community Hospital (MCH) </a>
								<a href="http://www.monroecounty.gov/communications-newst.php" title="News and Media Information page">News and Media Information</a>
								<a href="http://www.monroecounty.gov/parks-index.php" title="Parks Department page">Parks</a>
								<a href="http://www.monroecounty.gov/planning-index.php" title="Planning and Development Department page">Planning and Development</a>
								<a href="http://www.monroecounty.gov/defender-index.php" title="Public Defender page">Public Defender</a>
							
								<a href="http://www.monroecounty.gov/health-index.php" title="Department of Public Health page">Public Health</a>
								<a href="/publicintegrity" title="Department of Public Integrity page">Public Integrity</a>
								<a href="http://www.monroecounty.gov/safety-index.php" title="Department of Public Safety page">Public Safety</a>
								<a href="http://www.monroecounty.gov/pstf-index.php" title="Department of Public Safety page">Public Safety Training Facility (PSTF)</a>
								<a href="http://www.monroecounty.gov/purch-index.php" title="Purchasing and Central Services page">Purchasing</a><a href="http://www.monroecounty.gov/des-purewaters.php">Pure Waters</a>
								<a href="http://www.monroecounty.gov/sheriff-index.php" title="Sheriff page">Sheriff</a>
									<a href="http://www.monroecounty.gov/des-survey.php" title="Survey page">Survey</a>
							
								<a href="http://www.monroecounty.gov/dot-index.php" title="Department of Transportation page">Transportation (DOT) </a>
								<a href="http://www.monroecounty.gov/vet-index.php" title="Veterans Service Agency page">Veterans Agency</a>
								<a href="http://www.monroecounty.gov/youth-index.php" title="Rochester-Monroe County Youth Bureau page">Youth Bureau</a>
								<a href="http://www.monroecounty.gov/parks-zoo.php" title="Seneca Park Zoo page">Zoo</a>
							</div>
							<div class="menu">
								<div class="deptpagelinks" style="padding-top: 0;">
									<a style="display: block; border-top: 1px solid #fff; font-weight: bold; padding: 2px 5px 1px 9px; border-bottom: 1px solid #C3C8CB; background-color: #EAEEEE;" href="https://www.monroecounty.gov/hr-index.php" title="Human Resources Home page">Human Resources Home</a>
									<a href="https://www.facebook.com/MonroeCivilService" style="padding: 5px 5px 2px 5px;" target="_blank"><img alt="Find us on Facebook" src="https://www.monroecounty.gov/Image/facebook.jpg" style="width: 140px; height: 43px; display: block;"></a>
									<a href="https://twitter.com/MonroeCivServ" style="padding: 3px 5px 3px 5px;" target="_blank"><img alt="Follow us on Twitter" src="https://www.monroecounty.gov/Image/twitter.gif" style="width: 140px; height: 24px; display: block;"></a>
									<a href="https://www.linkedin.com/company/14621/" style="padding: 3px 5px 3px 5px;" target="_blank"><img alt="Follow us on LinkedIn" src="//www.monroecounty.gov/Image/linkedin2-140x25.png" style="width: 140px; height: 25px; display: block;"></a>
									<a href="/hrapply<%= 'dev' if RAILS_ENV == 'development' %>" <%= 'class="here"' if params[:controller] == 'apply' %>>Jobs and Exams - <span style="color: #ff0000;">Apply Online</span></a>
									<% if @current_user %>
										<%= link_to 'My Applications', {:controller => :applicants, :action => :index}, :class => params[:controller] == 'applicants' ? 'here' : '' %>
										<%= link_to 'My Letters', {:controller => :account, :action => :letters}, :class => params[:controller] == 'account' && params[:action] == 'letters' ? 'here' : '' %>
										<%= link_to 'Edit My Account', {:controller => :account, :action => :edit}, :class => params[:controller] == 'account' && params[:action] == 'edit' ? 'here' : '' %>
										<%= link_to 'Logout', {:controller => :account, :action => :logout} %>
									<% else %>
										<%= link_to 'Login / Create Account', {:controller => :account, :action => :index}, :class => params[:controller] == 'account' ? 'here' : '' %>
									<% end %>
									<a href="/hrapply<%= 'dev' if RAILS_ENV == 'development' %>/subscribe">Get Job Alerts</a>
									<a href="/mccs<%= 'dev' if RAILS_ENV == 'development' %>/lists">Lists &amp; Exam Scores</a>
									<a href="https://www.monroecounty.gov/hr-civilservice.php" title="Employment/Exam Application">Civil Service Information</a>
									<a href="https://www.monroecounty.gov/hr-guides.php" title="Forms and Guides page">Forms and Study Guides</a>
									<a href="https://www2.monroecounty.gov/hr-openenrollment.php">Employee Benefits</a>
									<a href="https://www.monroecounty.gov/hr-faq.php">FAQ</a>
									<a href="https://cs.monroecounty.gov/mccs">MAX<span style="font-size: 8px;">- Log-in Required</span></a>
								</div>
								<% if @current_user and @current_user.level >= 10 %>
									<div class="relatedlinks">
										<h3>Admin Tools:</h3>
										<%= link_to 'Exams Admin', {:controller => 'exams', :action => :index}, :class => params[:controller] == 'exams' ? 'here' : '' %>
										<%= link_to 'Applications Admin', {:controller => 'applications', :action => :index}, :class => params[:controller] == 'applications' ? 'here' : '' %>
										<% if false %>
											<%= link_to 'Batch Print Applications', {:controller => :print, :action => :index}, :class => params[:controller] == 'print' ? 'here' : '' %>
										<% end %>
										<% if @current_user.level >= 20 %>
											<%= link_to 'Users Admin', {:controller => 'Users', :action => :index}, :class => params[:controller] == 'users' ? 'here' : '' %>
											<%#= link_to 'System Settings', :controller => 'system', :action => :index %>
										<% end %>
									</div>
								<% end %>
								<div class="relatedlinks">
									<h3>Related Information</h3>
									<a href="http://www.monroecounty.gov/hr-index.php#NonDisciminationPolicy">Non-Discrimination Policy</a>
									<a href="http://www.monroecounty.gov/hr-index.php#Links">Helpful Online Information </a>
									<% if false %><a href="http://www.monroecounty.gov/p/dhr-CivilServiceReferenceGuide.pdf">Civil Service Reference Guide (40k PDF)</a><% end %>
								</div>
								<div class="advert">
								
<div><a href="https://www2.monroecounty.gov/files/hr/Open Enrollment/2015/2015 OE fit friendly.pdf"><img alt="" src="https://www2.monroecounty.gov/files/hr/images/fit-friendly-2015-2.jpg" style="width: 140px; height: 170px; margin-left: 5px; margin-top: 10px;"></a></div>
<div><a href="http://youtu.be/mDt_v8foa6g?list=PL2nqpuKntoLl_VSxbe5Gvdpmh-EFqVZNA"><img alt="" src="https://www2.monroecounty.gov/files/hr/images/12WOH-Honoree-logo.jpg" style="width: 140px; height: 146px; margin-left: 5px; margin-top: 10px;"></a></div>
<div><a href="http://www.uscis.gov/e-verify"><img alt="" src="https://www2.monroecounty.gov/files/hr/images/E-Verify.jpg" style="width: 140px; height: 130px; margin-left: 5px; margin-top: 5px;"></a></div>

								</div>									

							</div>
						</div>
						<% if @right_column %>
							<div id="rightcol">
								<%= @right_column %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<%= IO.read '/home/google-analytics-tracking.inc.html' %>
	</body>
</html>
